<header id="navBar" class="h-20 flex justify-start pt-4 text-2xl rounded-b-2xl">
    <div class="navBar flex text-base md:text-3xl">
    <a href="/" class="ml-4 md:ml-8 hover:text-gray-400">Home</a>
    <a href="projects.php" class="ml-4 md:ml-8 hover:text-gray-400">Projects</a>
    <a href="about.php" class="ml-4 md:ml-8 hover:text-gray-400">About me</a>
    <a href="contact.php" class="ml-4 md:ml-8 hover:text-gray-400">Contact</a>
    <a href="terminal.php" class="ml-4 md:ml-8 hover:text-gray-400">Terminal</a>
    </div>
</header>