<header id="navBar" class="h-20 w-full flex justify-start pt-4 text-2xl rounded-b-2xl">
    <div class="navBar flex text-base md:text-3xl justify-start">
    <a href="../" class="ml-4 md:ml-8 hover:text-gray-400">Home</a>
    <a href="projects.php" class="ml-4 md:ml-8 hover:text-gray-400">Projects</a>
    <a href="about.php" class="ml-4 md:ml-8 hover:text-gray-400">About me</a>
    <a href="contact.php" class="ml-4 md:ml-8 hover:text-gray-400">Contact</a>
    <a href="terminal.php" class="ml-4 md:ml-8 hover:text-gray-400">Terminal</a>
    <a id="login" href="#" class="ml-4 md:ml-8 text-center hover:text-gray-400 shadow-lg py-0 px-4 mb-4 rounded-full">Login</a>
    </div>
</header>