<header id="navBar" class="h-20 w-full flex justify-start pt-4 text-2xl rounded-b-2xl">
    <div class="navBar flex text-base md:text-3xl justify-start">
    <a href="index.php" class="ml-4 md:ml-8 hover:text-gray-400">Home</a>
    <a href="projects.php" class="ml-4 md:ml-8 hover:text-gray-400">Projects</a>
    <a href="terminal.php" class="ml-4 md:ml-8 hover:text-gray-400">Terminal</a>
    <a href="workspace.php" class="ml-4 md:ml-8 hover:text-gray-400">Workspace</a>
    <a href="contact.php" class="ml-4 md:ml-8 hover:text-gray-400">Contact</a>
    <a href="about.php" class="ml-4 md:ml-8 hover:text-gray-400">About me</a>
    <a id="signup-button" href="#" class="act-button hover:bg-blue-500 hover:border-blue-700 pb-2 ml-4 md:ml-8 text-center shadow-lg py-0 px-4 border-b-4 border-blue-600 mb-4 bg-blue-400 rounded-lg">Sign Up</a>
    <a id="login-button" href="#" class="act-button hover:bg-blue-500 hover:border-blue-700 pb-2 ml-4 md:ml-8 text-center shadow-lg py-0 px-4 border-b-4 border-blue-600 mb-4 bg-blue-400 rounded-lg">Login</a>
</header>