.current{
    text-decoration: underline;
}
.navBar{
    color: white;
}
.terminal-button{
    color: white;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.terminal-button:hover{
    background: #A390E4;
}
#navBarAnimated{
    animation-name: nav;
    animation-duration: 2s;
    animation-fill-mode: backwards;
    background-color: #1C1C1C;
    text-shadow: 2px 2px rgb(160, 1, 1);
}
#navBar{
    background-color: #1C1C1C;
    text-shadow: 2px 2px rgb(160, 1, 1);
}

#home{
    animation-name:slideUp;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
}
#projects{
    animation-name:slideUp;
    animation-duration: 2s;
    animation-delay: 1.75s;
    animation-fill-mode: backwards;
}
#about{
    animation-name:slideUp;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: backwards;
}
#contact{
    animation-name:slideUp;
    animation-duration: 2s;
    animation-delay: 2.25s;
    animation-fill-mode: backwards;
}
#terminal{
    animation-name:slideUp;
    animation-duration: 2s;
    animation-delay: 2.5s;
    animation-fill-mode: backwards;
}
#homeCard{
    animation-name: slideIn;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-fill-mode: backwards;
}

@keyframes slideIn {
    from{transform: translateX(-1900px);}
    to{transform: translateX(0px);}
}
@keyframes nav {
    from{transform: translateY(-200px)}
    to{transform: translateY(0px)}
}

@keyframes slideUp{
    0%{transform: translate(800px,400px); opacity: 0; text-shadow: 0px 0px white;}
    50%{transform: translate(800px,0px); opacity: 0.5; }
    75% {transform: translate(0px, 0px); opacity: 1; transform:rotate(25deg);}
    100%{text-shadow: 2px 2px rgb(160, 1, 1);}
}

